# Sanal Ortam (Virtualenv)
venv/
.venv/
env/

# Python Derleme Dosyaları
__pycache__/
*.py[cod]
*$py.class

# Veritabanı ve Çalışma Zamanı Logları
database/*.db
database/*.db-journal
logs/*.json
logs/*.log

# Ortam Değişkenleri ve Gizli Anahtarlar
.env
